<div class="bg-footer">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-7 col-12">
        <h2 class="mb-4">Ci puoi trovare qui</h2>
        <a
          href="https://www.google.com/maps/place/221B+Baker+St,+London+NW1+6XE,+Regno+Unito/@51.5237702,-0.1634266,17z/data=!3m1!4b1!4m6!3m5!1s0x48761acf33628211:0x445d7677a88322e1!8m2!3d51.523767!4d-0.1585557!16s%2Fg%2F11bw4hsx_m?entry=ttu"><b>221B,
            Baker Street, London (UK)</b></a>
        <div id="map-container-google-1" class="z-depth-1-half map-container mt-4">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1105.7898789503527!2d-0.1584224798938593!3d51.52396003530368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761acf33628211%3A0x445d7677a88322e1!2s221B%20Baker%20St%2C%20London%20NW1%206XE%2C%20Regno%20Unito!5e0!3m2!1sit!2sit!4v1699818860267!5m2!1sit!2sit"
            style="border:0;" allowfullscreen="" title="googleMap" referrerpolicy="no-referrer-when-downgrade"
            width="80%"></iframe>
        </div>
      </div>
      <div class="col-md-5 mt-5 mt-md-0 col-12">
        <h2>Contatti</h2>
        <div class="mt-4">
          <h4><b>Cellulare: </b>+44 (0)1843848644</h4>
          <h4><b>E-mail Dr. Watson: </b>dr.Watson@gmail.com</h4>
          <h4><b>E-mail Sherlock: </b>sherlock.holmes@gmail.com</h4>
        </div>
      </div>
    </div>
  </div>
</div>
