<div class="bg-footer">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-4 col-12">
        <h2>Ci puoi trovare qui</h2>
        <div id="map-container-google-1" class="z-depth-1-half map-container mt-4">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1105.7898789503527!2d-0.1584224798938593!3d51.52396003530368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761acf33628211%3A0x445d7677a88322e1!2s221B%20Baker%20St%2C%20London%20NW1%206XE%2C%20Regno%20Unito!5e0!3m2!1sit!2sit!4v1699818860267!5m2!1sit!2sit"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="100%"></iframe>
        </div>
      </div>
      <div class="col-md-8 col-12 text-center">
        <h2>Prenota mt-4</h2>
      </div>
    </div>
  </div>
</div>
