<div class="green py-3">
  <div class="container">

    <h1 class="text-center headers my-4">Sherlock Holmes and Dr. John H. Watson <br> ~ Investigatori privati ~</h1>

    <div class="mt-4">
      <video autoplay playsinline src="https://res.cloudinary.com/dqb58ynfc/video/upload/ac_none,f_auto,q_auto,vc_auto/v1701454464/h8w6ufb4pguuorrkp4nw.mp4" class="w-100 rounded-4"></video>
    </div>


    <div class="text-center mt-4">
      <h2 class="text-center intro p-2 p-md-4">"Cercate qualcuno in grado di risolvere gli enigmi a voi più incomprensibili o
        bizzarri. Siete stati ignorati da tutti là fuori?
        Beh, sono Sherlock Holmes, l'investigatore privato più acuto e brillante di tutti i tempi."
      </h2>
    </div>

    <div class="row mt-4 mb-1">

      <div class="col-12 col-md-8">
        <div class="d-flex align-items-center">
          <h4 class="text px-5">"Se sarete in grado di non essere estremamente noiosi e di catturare la mia
            attenzione, solo allora prenderò in considerazione il vostro caso."
          </h4>
        </div>
      </div>

      <div class="col-12 col-md-4 p-2 mt-md-0 mt-5 text-center">
        <img src="https://res.cloudinary.com/dqb58ynfc/image/upload/f_auto,q_auto/nehiz6ma9xe0v2jd6emd" class="rounded-3 sherlock"
          alt="Sherlock_picture" name="Sherlock">
      </div>

    </div>

  </div>
</div>

<!----------------------------------------- Go to the blog -------------------------------------------->
<div class="blog py-5">
  <div class="container">
    <h2 class="headline text-center">Dai un'occhiata ai nostri casi</h2>
    <div class="text-center mt-5">
      <button type="button" (click)="goToBlog()" class="btn btn-lg btn-success">Vai al blog</button>
    </div>
  </div>
</div>

<!------------------------------------- Chi siamo  -------------------------------------------->
<div class="green py-4">
  <div class="container">
    <h2 class="text-center headers pt-5">~ Chi siamo ~</h2>
    <!-- Carousel -->
    <div id="carouselControls" class="carousel slide mt-5" data-bs-ride="carousel" data-bs-interval="4000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-12">

              <div class="card mb-3 text-bg-success">
                  <div class="row g-0">
                    <div class="col-md-5">
                      <img src="https://res.cloudinary.com/dqb58ynfc/image/upload/f_auto,q_auto/ul3uyi0cc4oiemtgay8l" class="img-fluid rounded" alt="...">
                    </div>
                    <div class="col-md-7">
                      <div class="card-body p-5">
                        <h5 class="card-title">Sherlock Holmes</h5>
                        <p class="card-text">Sono Sherlock Holmes, il celebre investigatore consulente di Londra. La mia mente è affilata come una lama, capace di dissotterrare la verità nascosta dietro ogni mistero. Con una deduzione acuta e una logica inesorabile, scavo nei recessi dell'oscurità per portare alla luce la luce della verità.</p>
                        <p class="card-text"><small class="text-black">Sherlock</small></p>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-12">

              <div class="card mb-3 text-bg-success">
                  <div class="row g-0">
                    <div class="col-md-5">
                      <img src="https://res.cloudinary.com/dqb58ynfc/image/upload/f_auto,q_auto/fsbfbqfix66itgogmbay" class="img-fluid rounded" alt="...">
                    </div>
                    <div class="col-md-7">
                      <div class="card-body p-5">
                        <h5 class="card-title">Dr. John Hamish Watson</h5>
                        <p class="card-text">Sono il dottor John Watson, navigo tra le avventure di Londra con il geniale e eccentrico Sherlock Holmes. Sono il narratore silente e l'ombra che accompagna il grande dectetive in ogni momento di genio e deduzione. Insieme formiamo un irresistibile alleanza contro l'oscurità che avvolge la città.</p>
                        <p class="card-text"><small class="text-black">Watson</small></p>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
</div>

<!---------------------------------------------- Partners --------------------------------------------------->
<div class="partners py-5">
  <div class="container">
    <h2 class="headline text-center mt-4">I nostri partners</h2>
    <div class="row my-5">
      <div class="col-md-4 col-12 my-3">
        <a href="https://it.wikipedia.org/wiki/Mark_Gatiss"><img src="https://res.cloudinary.com/dqb58ynfc/image/upload/f_auto,q_auto/dcawvjsl6v1xg6hqao8p" class="img-thumbnail rounded-pill" alt="Mycroft Holmes"></a>
        <h2 class="text-center mt-3">Mycroft Holmes</h2>
      </div>
      <div class="col-md-4 col-12 my-3">
        <a href="https://it.wikipedia.org/wiki/Amanda_Abbington"><img src="https://res.cloudinary.com/dqb58ynfc/image/upload/f_auto,q_auto/oqn27nm57ugac4donvx7" class="img-thumbnail rounded-pill" alt="Mary Mornatar / Watson"></a>
        <h2 class="text-center mt-3">Mary Watson</h2>
      </div>
      <div class="col-md-4 col-12 my-3">
        <a href="https://it.wikipedia.org/wiki/Una_Stubbs"><img src="https://res.cloudinary.com/dqb58ynfc/image/upload/f_auto,q_auto/qnjxughfbi2pftj7qr3g" class="img-thumbnail rounded-pill" alt="Sign.ra Hudson"></a>
        <h2 class="text-center mt-3">Sig.ra Hudson</h2>
      </div>
      <div class="col-md-4 col-12 my-3">
        <a href="https://it.wikipedia.org/wiki/Louise_Brealey"><img src="https://res.cloudinary.com/dqb58ynfc/image/upload/f_auto,q_auto/pcuwrzngqjxdksb2x2vg" class="img-thumbnail rounded-pill" alt="Molly Hooper"></a>
        <h2 class="text-center mt-3">Molly Hooper</h2>
      </div>
      <div class="col-md-4 col-12 my-3">
        <a href="https://it.wikipedia.org/wiki/Rupert_Graves"><img src="https://res.cloudinary.com/dqb58ynfc/image/upload/f_auto,q_auto/cei7xj5vdxulwbeacydf" class="img-thumbnail rounded-pill" alt="Ispettore Lestrade"></a>
        <h2 class="text-center mt-3">Ispettore Lestrade</h2>
      </div>
    </div>
  </div>
</div>
