<div class="green py-4">
  <div class="container">
    <h1 class="text-center headers pt-5">Sherlock Holmes and Dr. John H. Watson <br> ~ Investigatori privati ~</h1>

    <div class="text-center">
      <h2 class="text-center intro p-2 p-md-4">"Cercate qualcuno in grado di risolvere gli enigmi a voi più incomprensibili o
        bizzarri. Siete stati ignorati da tutti là fuori?
        Beh, sono Sherlock Holmes, l'investigatore privato più acuto e brillante di tutti i tempi."
      </h2>
    </div>

    <div class="row my-5">

      <div class="col-12 col-md-8">
        <div class="d-flex align-items-center">
          <h3 class="text px-5 mb-5">Se siete in grado di non essere estremamente noiosi e di catturare la mia
            attenzione, solo allora prenderò in considerazione il vostro caso.
            <br>Ci puoi trovare al 221b di Baker Street a Londra!
          </h3>
        </div>
      </div>

      <div class="col-12 col-md-4 text-center">
        <img src="../../../assets/img/396519c1-2876-4656-96b7-5115056ff29f.png" class="rounded-3 sherlock p-2"
          alt="Sherlock_picture">
      </div>

    </div>
    <div class="mt-4">
      <img class="img-fluid rounded-4" src="../../../assets/img/782847.jpg" alt="SherlockandWatson">
    </div>
  </div>
</div>

<!----------------------------------------- Go to the blog -------------------------------------------->
<div class="blog py-5">
  <div class="container">
    <h2 class="headline text-center">Dai un'occhiata ai nostri casi</h2>

    <div class="row my-5">

      <div class="col-12 col-md-3">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title headers mb-3">Il Carro Funebre Vuoto</h2>
            <h4 class="card-text paragraph mb-3">
              Beh. Quindi sì. Avrete visto il notiziario. Da dove potrei mai iniziare? Come dice l'hashtag in trend: #sherlocklives [#sherlockvive]...
            </h4>
            <a class="card-link btn btn-primary" href="http://">See more</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 mt-5">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title headers mb-3">Titolo</h2>
            <h4 class="card-text paragraph mb-3">
              paragraph
            </h4>
            <a class="card-link btn btn-primary" href="http://">See more</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 mt-5">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title headers mb-3">Titolo</h2>
            <h4 class="card-text paragraph mb-3">
              paragraph
            </h4>
            <a class="card-link btn btn-primary" href="http://">See more</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 mt-5">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title headers mb-3">Titolo</h2>
            <h4 class="card-text paragraph mb-3">
              paragraph
            </h4>
            <a class="card-link btn btn-primary" href="http://">See more</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!------------------------------------- Chi siamo  -------------------------------------------->
<div class="green py-4">
  <div class="container">
    <h2 class="text-center headers pt-5">~ Chi siamo ~</h2>
    <!-- Carousel -->
    <div id="carouselControls" class="carousel slide mt-5" data-bs-ride="carousel" data-bs-interval="4000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-12">

              <div class="card mb-3 text-bg-success">
                  <div class="row g-0">
                    <div class="col-md-5">
                      <img src="../../../assets/img//Profile_-_Sherlock_(BBC).webp" class="img-fluid rounded" alt="...">
                    </div>
                    <div class="col-md-7">
                      <div class="card-body p-5">
                        <h5 class="card-title">Sherlock Holmes</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-body-secondary">Sherlock</small></p>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-12">

              <div class="card mb-3 text-bg-success">
                  <div class="row g-0">
                    <div class="col-md-5">
                      <img src="../../../assets/img/Profile_-_John_Watson_(BBC).webp" class="img-fluid rounded" alt="...">
                    </div>
                    <div class="col-md-7">
                      <div class="card-body p-5">
                        <h5 class="card-title">Dr. John Hamish Watson</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-body-secondary">Watson</small></p>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
</div>

<!---------------------------------------------- Partners --------------------------------------------------->
<div class="blog py-5">
  <div class="container">
    <h2 class="headline text-center mt-4">I nostri partners</h2>
    <div class="row my-5">
      <div class="col-md-4 col-12 my-3">
        <img src="../../../assets/img/2.png" class="img-thumbnail rounded-pill" alt="" srcset="">
      </div>
      <div class="col-md-4 col-12 my-3">
        <img src="../../../assets/img/Mary_morstan_watson.webp" class="img-thumbnail rounded-pill" alt="" srcset="">
      </div>
      <div class="col-md-4 col-12 my-3">
        <img src="../../../assets/img/1.png" class="img-thumbnail rounded-pill" alt="" srcset="">
      </div>
      <div class="col-md-4 col-12 my-3">
        <img src="../../../assets/img/3.png" class="img-thumbnail rounded-pill" alt="" srcset="">
      </div>
      <div class="col-md-4 col-12 my-3">
        <img src="../../../assets/img/4.png" class="img-thumbnail rounded-pill" alt="" srcset="">
      </div>
    </div>
  </div>
</div>
