.container {
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: 'Helvetica', sans-serif;
}

.green {
  background-color: #004643;
}

.paragraph {
  line-height: 1.9;
  overflow-wrap: break-word;
}

.card {
  background-color: #fff6cc;
}

.card {
  cursor: pointer;

  button {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
  color: royalblue;
  z-index: 1;
  font-weight: 500;
}

button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid royalblue;
}

button span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  // background: #b5dbee;
  background: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

button:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: royalblue;
}

button:hover {
  color: white;
}

button:active span::before {
  background: #2751cd;
}
}
