<div class="green">
  <div class="container my5">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
      <p style="color: white"> Sto caricando... </p>
    </ngx-spinner>
    <!---------------------------------- FORM ----------------------------------->
    <!-- <div class="row">
      <form [formGroup]="postForm">
        <label for="title">Titolo</label>
        <input type="text" class="input-group" required name="title" placeholder="titolo" formControlName="title">
        <br>
        <label for="date">Data</label>
        <input type="text" class="input-group" name="date" placeholder="data" formControlName="date">
        <br>
        <label for="paragraph">Paragrafo</label>
        <textarea class="input-group resizable-input" name="paragraph" placeholder="paragrafo" formControlName="paragraph"> </textarea>
        <br>
        <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="!postForm.valid">Save Data</button>
      </form>
    </div> -->

    <!---------------------------------- POSTS --------------------------------->
    <div class="row">
      <div class="card p-4 col-12 my-3" *ngFor="let post of allPosts | async">
        <div class="py-3">
          <h2 class="card-title">{{post.title}}</h2>
          <span class="text-body-tertiary">{{post.date}}</span>
        </div>
        <!-- <button [routerLink]="['/pageDetails']" (click)="goToDetails(post.id)" class="btn m-2"> Info
        </button> -->
        <p class="text-wrap paragraph">{{post.paragraph}}</p>
        <!-- <div class="card-footer">
          <button type="button" class="btn btn-primary" (click)="deletePost(post.id)">Delete</button>
        </div> -->
      </div>
    </div>

  </div>
</div>
